
<% content_for :head do %>
  <title>Signup for your totally awesome and cool dreamtool user account.</title>
<% end %>

<%= form_for @user, url: signup_path do |f| %>
  <input type="text"
     name="user[screenname]"
     value="<%= @user.screenname %>"
     placeholder="<%= (t "Screenname") %>"></input>
  <input type="password" name="user[password]" placeholder="<%= (t "Secret Password") %>"></input><br>
  <br>
  <input type="text"
     name="user[email]"
     value="<%= @user.email %>"
     placeholder="<%=t "email"%>"></input><br>
  <br>
  <%= f.submit ("Sign Up") %>
<% end %>

<br>

<script>
  function enterSubmit(field, event) {
    if(event.which==13){ field.form.submit(); }
  }
</script>


<style>

  .
  h3 {
    font-weight: 100;
    color: aquamarine;
  }
  </style>
