
<% content_for :head do %>
  <title>Signup for your totally awesome and cool dreamtool user account.</title>
  <link href="/welcome.css" rel="stylesheet">
<% end %>

<%= render_logo %>
<%= render_flash %>

<%= form_for @user, url: signup_path do |f| %>
  <label>
  First Name
  <%= f.text_field :first_name %>
  </label>
<br>
  <label>
  Last Name
  <%= f.text_field :last_name %>
  </label>
  <%= f.text_field :screenname, placeholder: (t "Screenname") %>
  <%= f.text_field :email, placeholder: ("Email") %>
  <%= f.password_field :password, placeholder: (t "Secret Password") %>
  <%= f.label :password_confirmation %>
  <%# = f.password_field :password_confirmation %>
  <br><br>
  <%= f.submit ("Do it") %>
<% end %>

<br>

<script>
  function enterSubmit(field, event) {
    if(event.which==13){ field.form.submit(); }
  }
</script>


<style>
  h3 {
    font-weight: 100;
    color: aquamarine;
  }
  </style>
