
<% content_for :head do %>
  <title>Signup for your totally awesome and cool dreamtool user account.</title>
<% end %>

<%= img "logo.svg" %>
<% markdown do %>
## Dreamtool is currently invite only in beta.

Please check back soon. Thank You!

 Try Dreamtool in your browser today and all
you need is a free account.

<!-- <%#= markdown do %>
An account let's you:
- Create and publish custom publication
- Save your work online
<%# end %> -->

<p>
  Dreamtool lets you interactively create new content for the web directly from
  your mobile device or personal computer.
</p>

<h2>Sign up today and gain access to these powerful features:</h2>

<ul>
  <li>Interactive layout and editing tools that let you build and design websites and webpages with ease or publish a blog.</li>
  <li>Create and publish a magazine, newsletter or newspaper online.</li>
  <li>Explore and discover fresh new content being created by
    users on Dreamtool and published daily.</li>
</ul>

<p>So what are you waiting for?<br>
  Sign up for your free account today.</p>

<% end %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>Oops, there was <%= pluralize(@user.errors.count, "error") %>:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user, url: signup_path do |f| %>
  <%= f.text_field :screenname, placeholder: "Screenname" %>
  <%= f.text_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <br><br>
  <%= f.submit "Make my Fabulous Account" %>
<% end %>

<br>

<script>
  function enterSubmit(field, event) {
    if(event.which==13){ field.form.submit(); }
  }
</script>
