<a href="https://dreamtool.herokuapp.com">
<%= render 'lama' %>
</a>
<%= render 'flash' %>

<style>
  .new-post {
    /*border: 1px solid yellow; */
    /* background: snow; */
    width: 420px;
    height: 100px;
    margin: 0 auto;
    border-radius: 3px;
    color: hotpink;
  }
</style>
<% if https? %>
<%= render 'sign_in' %>

<div class="free-account">
  <%= t :no_tienes_cuenta %><br>
  <%= link_to t(:registrate_gratis), signup_path %>
</div>

<script>
  function enterSubmit(field, event) {
    if(event.which==13){ field.form.submit(); }
  }

  function clearRememberMe() {
    document.getElementById('screenname').value = ''
    document.getElementById('clear-remember-me').remove()
    document.cookie = 'remember_me='
    // $('input[name=screenname]').val('')
  }

  // $(function() {
  //   $('.clear-remember-me').click(clearRememberMe);
  // })
</script>

<script type='text/javascript' src='assets/cljs/hello.js'></script>

<div class='new-post'></div>
<% else %>
  <a href="/chat">Chat with Us</a>
<% end %>
