<!DOCTYPE html>
<html>
<head>
  <title>Dreamtool</title>
  <%= render 'welcome_meta' %>
  <%= stylesheet_link_tag "welcome", media: "all" %>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= content_for :head %>
</head>
<body>
  <%= render_logo %>
  <%= render 'flash' %>
  <%= yield %>
</body>
</html>
